<div class="container">
  <form>
    <div class="form-group">
      <input
        name="title"
        type="text"
        id="title"
        placeholder="Co masz zrobić?"
        class="form-control"
        (keydown.enter)="onAdd()"
        [(ngModel)]="title"
      />
    </div>
  </form>
  <div class="row">
    <div class="col-3">
      <button type="submit" class="btn btn-primary mb-3" (click)="onAdd()">
        Dodaj
      </button>
    </div>
    <div class="col-3"><div class="custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" [(ngModel)]="life"
      [ngModelOptions]="{standalone: true}" id="customCheck1">
      <label class="custom-control-label" for="customCheck1">Życie prywatne</label>
    </div></div>
    <div class="col-3"><div class="custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" [(ngModel)]="work"
      [ngModelOptions]="{standalone: true}" id="customCheck2">
      <label class="custom-control-label" for="customCheck2">Praca</label>
    </div></div>
    <div class="col-3"><div class="custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" [(ngModel)]="school"
      [ngModelOptions]="{standalone: true}" id="customCheck3">
      <label class="custom-control-label" for="customCheck3">Szkoła</label>
    </div></div>
    <!-- <div class="col-3">
      <div class="custom-control custom-radio">
        <input
          type="radio"
          id="customRadio1"
          name="customRadio"
          class="custom-control-input"
        />
        <label class="custom-control-label" for="customRadio1">Życie prywatne</label>
      </div>
    </div>
    <div class="col-3">
      <div class="custom-control custom-radio">
        <input
          type="radio"
          id="customRadio2"
          name="customRadio"
          class="custom-control-input"
        />
        <label class="custom-control-label" for="customRadio2">
          Szkoła
        </label>
      </div>
    </div>
    <div class="col-3">
      <div class="custom-control custom-radio">
        <input
          type="radio"
          id="customRadio3"
          name="customRadio"
          class="custom-control-input"

        />
        <label class="custom-control-label" for="customRadio3" >Praca</label>
      </div>
    </div> -->
  </div>
  <div
    *ngFor="let todo of todos; index as i; even as isEven"
    [ngClass]="{ 'bg-even': isEven }"
    class="todo"
  >
    <div class="title">
      <input
        type="checkbox"
        class="checkbox"
        [(ngModel)]="todo.completed"
        (change)="checkboxChangeHandler(i)"
      />
      <h4>{{ todo.title }}</h4>
    </div>
    <div class="row">
      <div class="col-4 hour">{{ todo.createDate | date: "longDate" }}</div>
      <div class="col-8 items">
        <button class="btn btn-danger btn-delete">
          <i class="fa fa-trash" aria-hidden="true"></i>
        </button>
        <div *ngFor="let item of todo.items" class="item">{{ item }}</div>
        <div *ngIf="todo.items.length==0" class="item">Inne</div>
      </div>
    </div>
  </div>
</div>
