.container{
    background-color: #f3f3f3;
}
.title{
    display: flex;
    text-align: center;
    .checkbox {
        margin: 7px 10px 0 0;
        width: 20px;
        height: 20px;
    }
}

.hour {
    color: #aaa;
}

.items {
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 0.5rem;
}
.item{
    margin: 0 1rem;
    color: #fff;
    background-color: #a14f12;
    padding: 0.2rem 0.5rem;
    border-radius: 1rem;
    width: 100px;
    text-align: center;
}